body {
  background-color: rgb(58, 58, 58);
  margin-top: 100px;
}

.carousel-container {
  width: 900px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  border:5px black ridge;

}

.carousel {
  margin-top: 20px;


}
.carousel img {
  width: 100%;
  margin:auto;

}

.item {
  position: absolute;
  display: none;

}

.caption {
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
  height: 50px;
  text-align: center;
  padding-top:20px;
}

.main {
  display: block;
}


.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}
.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}
.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align:center;
  padding: 5px;

}
.navigation .nav-btn:hover {
  background: white;
}